<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="packages/core/Test/Unit/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true">
    <testsuites>
        <testsuite name="core-unit">
            <directory>packages/core/Test/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/core</directory>
        </include>
        <exclude>
            <directory>packages/core/Test</directory>
            <directory>packages/core/etc</directory>
        </exclude>
    </source>
</phpunit>
